<a href="https://colab.research.google.com/github/ThiagoBellasDS/TreinandoGit/blob/master/Exerc%C3%ADcios_Cap2_Listas%2C_Dicion%C3%A1rios_e_Tuplas_DSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
listanumero = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(listanumero)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
listaobjetos = ['bola', 'carro', 'prancha', 'skate', 'comida']
print(listaobjetos)

['bola', 'carro', 'prancha', 'skate', 'comida']

In [16]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
str1 = 'Thiago é '
str2 = 'dedicado'

In [17]:
str3 = str1 + str2
print(str3)

Thiago é dedicado

In [18]:

# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tupla1 = (1, 2, 2, 3, 4, 4, 4, 5)
tupla1.count(4)

3

In [19]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
dic1 = {}
print(dic1)

{}

In [31]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dic1 = {"thiago" : 38, "camila" : 40, "livia" : 12}
print(dic1)

{'thiago': 38, 'camila': 40, 'livia': 12}

In [35]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
dic1["arthur"] = 8
print(dic1)

{'thiago': 38, 'camila': 40, 'livia': 12, 'arthur': 8}

In [36]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
dic1['thiago2'] = 39
print(dic1)

{'thiago': 38, 'camila': 40, 'livia': 12, 'arthur': 8, 'thiago2': 39}

In [37]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.
dic2 = {}
print(dic2)

{}

In [38]:
dic2['thiago'] = 38

In [39]:
print(dic2)

{'thiago': 38}

In [40]:
dic2[10] = 20
print(dic2)

{'thiago': 38, 10: 20}

In [41]:
dic2[30] = 40
print(dic2)

{'thiago': 38, 10: 20, 30: 40}

In [42]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.
listex9 = [['str1'], (2, 5), {3 : 4, 6 : 7}, 3.6]
print(listex9)

[['str1'], (2, 5), {3: 4, 6: 7}, 3.6]

In [43]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [44]:
frase[:18]

'Cientista de Dados'